//colors
$white: #fff;
$owhite: #F4F4F4;
$ltgray: #DADADA;
$medgray: #CBCBCB;
$gray: #939393;
$dkgray: #2A2A2A;
$secondary_text_color: #a7a7a7;
$text_color: #222;
$blue: #5E97D1;
$dkblue: #407FC0;
$red: #CC1D39;
$buttonowhite: #F5F5F5;
$buttongray: #8E939C;

//breakpoint variables
$screen-mobile: 500px;
$screen-tablet: 760px;
