.product {
  background: $white;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  padding: 2rem 1.5rem;
  @include breakpoint(mobile) {
    padding: 2.6rem 3.4rem;
  }

  &__details {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    &--col-1 {



    }

    &--col-2 {



    }

  }

  &__inventory {
    @include small-heading;
  }

}